.nnn{
    border-radius: 200px;
    background-color: aquamarine;
}
.nnn:hover{
    background-color: red;
}
.mmm{
    margin-right: 50px;
}
.kkk{
    padding: 10px;
    background-color: aqua;
    border-radius: 50%;
   
}
.hh{
    margin-top: -20px;
    margin-bottom: -10px;
    margin-right: 20px;
}